html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/*********************
Variables
**********************/
/*********************
Main
**********************/
body {
  font-family: 'Roboto', sans-serif;
  color: #4D4D4D;
  font-weight: 300;
  background-color: #F5F5F5; }

i {
  color: #CFCFCF; }

li {
  list-style: none; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px; }
  main::after {
    clear: both;
    content: "";
    display: table; }

.todo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 60px; }
  .todo:last-child {
    margin-right: 0; }

#todoForm {
  position: relative; }

.rightArrow {
  position: absolute;
  font-size: 35px;
  top: 20px;
  left: 20px; }

#todoInput {
  width: 80%;
  margin-right: 0;
  padding-left: 60px;
  height: 80px;
  font-size: 28px;
  border: 1px solid #CFCFCF;
  box-shadow: inset 0px -2px 0px #f7f7f7; }
  #todoInput::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #CFCFCF;
    font-weight: 100;
    font-style: italic; }
  #todoInput:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #CFCFCF;
    font-weight: 100;
    font-style: italic; }
  #todoInput::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #CFCFCF;
    font-weight: 100;
    font-style: italic; }
  #todoInput:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #CFCFCF;
    font-weight: 100;
    font-style: italic; }
  #todoInput:focus {
    outline: none; }

#addBtn {
  width: 20%;
  height: 80px;
  margin-left: -4px;
  font-size: 28px;
  color: #4D4D4D;
  outline: none;
  background: transparent;
  border: 1px solid #CFCFCF; }
  #addBtn:focus {
    background: #CFCFCF; }

#list {
  padding-left: 0;
  margin: 0; }

.listItem {
  position: relative;
  background-color: #FFFFFF;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #CFCFCF;
  font-size: 26px;
  font-weight: 300;
  padding: 25px 60px 0; }
  .listItem:hover {
    cursor: pointer; }

.listWrapper:hover .checkbox {
  color: lightgreen; }

.listWrapper:hover .deletebox {
  opacity: 1; }

/*********************
Status
**********************/
.checkbox {
  position: absolute;
  z-index: 10;
  font-size: 35px;
  margin-top: 22px;
  left: 20px; }

.deletebox {
  position: absolute;
  z-index: 15;
  font-size: 35px;
  margin-top: -57px;
  right: 20px;
  opacity: 0; }
  .deletebox:hover {
    color: tomato;
    cursor: pointer; }

.complete {
  color: #CFCFCF;
  text-decoration: line-through; }

/*********************
Sort
**********************/
.sortRow {
  background-color: #FFFFFF; }

.sortItem {
  display: inline-block; }
  .sortItem:hover {
    cursor: pointer; }

.hide {
  visibility: hidden;
  height: 0; }
