@import 'bourbon/bourbon';
@import 'neat/neat';

/*********************
Variables
**********************/
$tan: #F5F5F5;
$white: #FFFFFF;
$gray: #777777;
$lightgray: #CFCFCF;
$black: #4D4D4D;

/*********************
Main
**********************/


body {
  font-family: 'Roboto', sans-serif;
  color: $black;
  font-weight: 300;
  background-color: $tan;
}

i {
  color: $lightgray;
}

li {
  list-style: none;
}

main {
  @include outer-container;
  margin-top: 150px;
}

.todo {
  @include span-columns(10);
  @include shift(1);
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

#todoForm {
  position: relative;
}

.rightArrow {
  position: absolute;
  font-size: 35px;
  top: 20px;
  left: 20px;
}

#todoInput {
  width: 80%;
  margin-right: 0;
  padding-left: 60px;
  height: 80px;
  font-size: 28px;
  border: 1px solid $lightgray;
  box-shadow: inset 0px -2px 0px #f7f7f7;

  &::-webkit-input-placeholder { /* WebKit browsers */
    color: $lightgray;
    font-weight: 100;
    font-style: italic;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $lightgray;
    font-weight: 100;
    font-style: italic;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $lightgray;
    font-weight: 100;
    font-style: italic;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $lightgray;
    font-weight: 100;
    font-style: italic;
  }
  &:focus {
    outline: none;
  }
}

#addBtn {
  width: 20%;
  height: 80px;
  margin-left: -4px;
  font-size: 28px;
  color: $black;
  outline: none;
  background: transparent;
  border: 1px solid $lightgray;

  &:focus {
    background: $lightgray;
  }
}

#list {
  padding-left: 0;
  margin: 0;
}

.listItem {
  position: relative;
  background-color: $white;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid $lightgray;
  font-size: 26px;
  font-weight: 300;
  padding: 25px 60px 0;

  &:hover {
    cursor: pointer;
  }
}

.listWrapper:hover .checkbox {
  color: lightgreen;
}

.listWrapper:hover .deletebox {
  opacity: 1;
}

/*********************

**********************/

.checkbox{
  position: absolute;
  z-index: 10;
  font-size: 35px;
  margin-top: 22px;
  left: 20px
}

.deletebox {
  position: absolute;
  z-index: 10;
  font-size: 35px;
  margin-top: -55px;
  right: 20px;
  opacity: 0;

  &:hover {
    color: tomato;
    cursor: pointer;
  }
}

.complete {
  color: $lightgray;
  text-decoration: line-through;
}